body {background-image: url(imagenes/running.png);
width: 100%;}
header {background-color: yellow;
padding: 4vh;
margin: 3vw;
opacity: 90%;
border-radius: 10px;
box-sizing: border-box;}
h1 {text-align: center;
font-size: 3rem;
color: black;}
span {text-align: center;
background-color: yellow;
font-size: 1.3rem;}
a {text-decoration: none;
color: white;}
td {border: solid black;
width: 1vw;}
th {border: solid black;
width: 1vw;}
